<header>
	<div class="view hm-purple-light">
	  <img src="../images/bg.jpg" class="img-fluid" alt="civil blocks">
		<div class="mask flex-center">
			   <h2 class="white-text">Build the change</h2>
		</div>
	</div>
</header>
