<div class="slider">
	<ul class="slides ">
		<li>
			<img src="/images/intro.jpg">
			<!-- random image -->
			<div class="caption center-align">
				<h3>This is our big Tagline!</h3>
				<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
			</div>
		</li>
		<li>
			<img src="/images/cover-min.jpg">
			<!-- random image -->
			<div class="caption left-align">
				<h3>Left Aligned Caption</h3>
				<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
			</div>
		</li>
		<li>
			<img src="/images/1.jpg">
			<!-- random image -->
			<div class="caption right-align">
				<h3>Right Aligned Caption</h3>
				<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
			</div>
		</li>
		<li>
			<img src="https://lorempixel.com/580/250/nature/4">
			<!-- random image -->
			<div class="caption center-align">
				<h3>This is our big Tagline!</h3>
				<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
			</div>
		</li>
	</ul>
</div>


<div class="row secondSection ">
	<h2 class="col m4 s12 center-align">
		<i class="material-icons large">layers</i> INNOVATE
	</h2>
	<h2 class="col m4 s12 center-align">
		<i class="material-icons large">directions_run</i>ACHIEVE
	</h2>
	<h2 class="col m4 s12 center-align">
		<i class="material-icons large">device_hub</i>LEAD
	</h2>
</div>



