<div class="container-fluid view intro hm-purple-light">
	<div class="full-bg-img flex-center">
		<div class="container text-center white-text wow fadeInUp">
                <h2>Build the change you want to see in the world</h2>

                <h4>Data Management System for Civil Engineering</h4>
                <p>Work under progress</p>
                <br>
            </div>
	</div>
</div>
