<header>
	<div class="view hm-purple-light">
	  <img src="../images/bg.jpg" class="img-fluid" alt="civil blocks">
		<div class="mask flex-center">
			   <h2 class="white-text">Build the change</h2>
		</div>
	</div>
</header>
<main>
	 <div class="container introVideo">
				   <div class="embed-responsive embed-responsive-16by9">
		              <iframe class="embed-responsive-item" src="//www.youtube.com/embed/FelpaIdtmm8" allowfullcreen></iframe>
					 </div>
	 </div>
	 <div class="container-fluid professorList grey lighten-3">
	  <div class="row">
		  <div class="col-md-6 col-lg-4 ">
				<div class="card">
					<img class="img-fluid" src="../images/prof.sridhar.jpg" alt="Card image cap">
					<div class="card-body">
							<!--Title-->
							<h4 class="card-title">Dr. Sridhar Raju</h4>
							<h6 class="card-subtitle mb-2 text-muted">Associate Professor</h6>
							<!--Text-->
							<p class="card-text">Some text to build on the card title and make up the bulk of the card's content.</p>
							<a href="#" class="btn btn-primary">Button</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 ">
				<div class="card">
					<img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%282%29.jpg" alt="Card image cap">
					<div class="card-body">
							<!--Title-->
							<h4 class="card-title">Card title</h4>
							<!--Text-->
							<p class="card-text">Some text to build on the card title and make up the bulk of the card's content.</p>
							<a href="#" class="btn btn-primary">Button</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 ">
				<div class="card">
					<img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%282%29.jpg" alt="Card image cap">
					<div class="card-body">
							<!--Title-->
							<h4 class="card-title">Card title</h4>
							<!--Text-->
							<p class="card-text">Some text to build on the card title and make up the bulk of the card's content.</p>
							<a href="#" class="btn btn-primary">Button</a>
					</div>
				</div>
			</div>
	 </div>
 </div>
 <div class="container-fluid events">
    <h2 class="flex-center white">Take Note</h2><hr>
	  <div class="row">
			  <div class="col-md-4 col-lg-4">
            <h3 class="title">News</h3>
						<ul>
							<li><a href="#">Consultancy</a></li>
							<li><a href="#">Funding</a></li>
							<li><a href="#">Research projects</a></li>
						</ul>
			  </div>
				<div class="col-md-4 col-lg-4">
            <h3>Events</h3>
						<ul>
							<li><a href="#">Transportation field test</a></li>
							<li><a href="#">Bridge plan</a></li>
							<li><a href="#">Structural analysis</a></li>
							<li><a href="#">Field visit</a></li>
					  </ul>
			  </div>
				<div class="col-md-4 col-lg-4">
           <h3>Calendar</h3>
					 <ul>
						 <li><a href="#">OMC lab test</a></li>
						 <li><a href="#">Field Visit</a></li>
						 <li><a href="#">Weekly analysis</a></li>
						 <li><a href="#">Enhancement plans</a></li>
						 <li><a href="#">Student interaction</a></li>
				   </ul>
			  </div>
		</div>

 </div>
</main>
