<header>
	<div class="view hm-purple-light">
	  <img src="../images/bg.jpg" class="img-fluid" alt="civil blocks">
		<div class="mask flex-center">
			   <h2 class="white-text">Build the change</h2>
		</div>
	</div>
</header>
<main>
	 <div class="row">
		  <div class="col-md-6 col-lg-4 ">
				<div class="card">
					<img class="img-fluid" src="../images/prof.sridhar.jpg" alt="Card image cap">
					<div class="card-body">
							<!--Title-->
							<h4 class="card-title">Dr. Sridhar Raju</h4>
							<h6 class="card-subtitle mb-2 text-muted">Associate Professor</h6>
							<!--Text-->
							<p class="card-text">Some text to build on the card title and make up the bulk of the card's content.</p>
							<a href="#" class="btn btn-primary">Button</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 ">
				<div class="card">
					<img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%282%29.jpg" alt="Card image cap">
					<div class="card-body">
							<!--Title-->
							<h4 class="card-title">Card title</h4>
							<!--Text-->
							<p class="card-text">Some text to build on the card title and make up the bulk of the card's content.</p>
							<a href="#" class="btn btn-primary">Button</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 ">
				<div class="card">
					<img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%282%29.jpg" alt="Card image cap">
					<div class="card-body">
							<!--Title-->
							<h4 class="card-title">Card title</h4>
							<!--Text-->
							<p class="card-text">Some text to build on the card title and make up the bulk of the card's content.</p>
							<a href="#" class="btn btn-primary">Button</a>
					</div>
				</div>
			</div>
	 </div>
</main>
