<br><br><br>
<div class="container-fluid">
  <div class="row">
        <div class="container-fluid col-lg-10">
             <h1 class="">Research</h1>
             <hr>
             <h2>Current projects</h2>

             <hr>
             <h2>Done</h2>
             <hr>
             <h2>Future</h2>
        </div>
        <div class="container-fluid fixed col-lg-2">
           <h2>Side navbar</h2>
           <ul>
              <li><a href="#">Current</a></li>
              <li><a href="#">Done</a></li>
              <li><a href="#">Future</a></li>
           </ul>
        </div>
  </div>
</div>
