body{
  overflow-x: hidden;
}
/*Side fixed Navbar*/

.side-nav li a{
  color: white;
}
body:not(.side-nav){
  
  #slide-out{
    background-image: url('../../images/sidenav4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .collapsible-body{
      background: none;
    }
    .user-view{
      img{
        width:87.5px;
        height:85px;
      }
    }
  }
  nav{
    left:0px;
  }
}

@media only screen and (max-width: 992px) {
 
}

/**Navbar**/
.logo{
  vertical-align: middle;
  width:42px;
  height:42px;
}
nav{
  background :rgb(16, 31, 46);
 
}
nav div ul li a{
   color:white;
}
.top-nav-collapse {
    background-color: #243A51;
}
@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #243A51;
    }
}
.shrink{
    height: 50px;
    opacity:.85;
    background:rgba(0, 0, 0, 0.84) ;
    transition: ease-in-out;
    -webkit-transition :0.4s ease-in-out;
    div ul li{
      transition: ease-in-out;
      -webkit-transition: 0.4s ease-in-out;
       margin-top: -6px;
    }
}

/**!Navbar**/

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}
iframe{
  display: none;
  position : fixed ;
  right :3vw;
  z-index : 1000;
  margin-top: 41vh;
  border: none;
}
.mychatbot{
  position : fixed ;
  background: none;
  width: 10vh;
  height:10vh;
  right : 10px;
  z-index : 1000;
  margin-top: 85vh;
  cursor: pointer;
  border: none;
}

footer{
  div.flex-center{
     a{
       margin :.4vw;
     }
  }
}
