.blog{
    padding :6vw 0 6vw 6vw ;
    .post{
        margin-bottom: 5vw;
        hr{
            margin-top: 1em;
            margin-bottom: 0.5em;
           }
    }
   
    .blogText{   
        padding-left: 4vw;
        margin-top:-1.5vw;
        h4 a{
            color: black; 
        }
        
    }
    .listGroup{
        top :0px;
    }
}