.blog{
    padding :1.5vw 0 6vw 6vw ;
    h1{
        font-family: 'medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif';
        font-weight: 600;
        font-size: 42px;
        font-style: normal;
        line-height: 44px;
        color: rgba(0, 0, 0, 0.84);
        padding-bottom:50px; 
        
    }
    .post{
        margin-bottom: 5vw;
        hr{
            margin-top: 1em;
            margin-bottom: 0.5em;
           }
    }
   
    .blogText{   
        padding-left: 4vw;
        margin-top:-1.5vw;
        h4 a{
            color: black; 
        }
        
    }
    .listGroup{
        top :0px;
    }
}