header .img-fluid{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
main{
  .row{
    margin: 3vw;
    .card{
        margin : 3.5vw;
    }
  }

}
