.home{
  .secondSection{
    padding:0vw 10vw 2vw 15vw;
    box-sizing:border-box;
    h2{
      font:normal "Open Sans", sans-serif;
      font-size:20px;
      line-height:22px;
      color:#1e1e1e;
      font-weight:300;
      letter-spacing:3px;
      i{
        display:block;  
        padding : 60px;
      } 
      
    }
  }
  .section4{
    margin-top: 50px;
    .card{
      max-width: 300px;
      margin-bottom: 40px;
    }
  }
}
