.teaching{
    padding: 6vw;
    .col.s4.m4.l3{
        display : inline-block;
        img{
            display : inline-block;
            width:65px;
            height: 65px;
        }
        p{
            display : inline-block;
        }
        
    }
}