/**Navbar**/
nav {
  background: #243A51; }
  nav a img {
    width: 35px;
    height: 35px; }

nav div ul li a {
  color: white; }

.top-nav-collapse {
  background-color: #243A51; }

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #243A51; } }

.shrink {
  padding: 5px;
  opacity: .85;
  background: #243A51;
  -webkit-transition: 0.3s ease-in-out; }
  .shrink .navbar-brand {
    font-size: 25px; }
  .shrink a img {
    width: 25px;
    height: 25px; }

/**!Navbar**/
.gallery-image img {
  display: block;
  max-width: 100%;
  height: auto; }

iframe {
  display: none;
  position: fixed;
  right: 3vw;
  z-index: 1000;
  margin-top: 41vh;
  border: none; }

.mychatbot {
  position: fixed;
  background: none;
  width: 10vh;
  height: 10vh;
  right: 10px;
  z-index: 1000;
  margin-top: 85vh;
  cursor: pointer;
  border: none; }

footer div.flex-center a {
  margin: .4vw; }

header .img-fluid {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover; }

main .introVideo iframe {
  margin: 4vw; }

main .row {
  padding: 3.5vw; }
  main .row .card {
    margin: 3vw; }
    main .row .card .profImage {
      height: 16vw; }

main .events h2 {
  padding-top: .5vw; }

main ul {
  list-style-type: none;
  padding: 0; }

.research {
  padding-top: 6vh; }

.table-wrapper-2 {
  display: block;
  max-height: 35vh;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar; }

h1 {
  padding: 2.5vw 0 0 40vw; }

.publications {
  padding-top: 6vh; }

.table-wrapper-2 {
  display: block;
  max-height: 35vh;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar; }

h1 {
  padding: 2.5vw 0 0 40vw; }

.teaching {
  padding-top: 7.5vh; }
  .teaching h1 {
    margin-left: 22.5vw; }
