/**Navbar**/
nav {
  background: #243A51; }
  nav a img {
    width: 35px;
    height: 35px; }

nav div ul li a {
  color: white; }

.top-nav-collapse {
  background-color: #243A51; }

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #243A51; } }

.shrink {
  padding: 5px;
  opacity: .85;
  background: #243A51;
  -webkit-transition: 0.3s ease-in-out; }
  .shrink .navbar-brand {
    font-size: 25px; }
  .shrink a img {
    width: 25px;
    height: 25px; }

/**!Navbar**/
.gallery-image img {
  display: block;
  max-width: 100%;
  height: auto; }

#footer {
  border-top: 1px solid #eeeeee;
  padding-top: 30px;
  color: #777777; }

header .img-fluid {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

main .row {
  margin: 3vw; }
  main .row .card {
    margin: 3.5vw; }
