body {
  overflow-x: hidden; }

/*Side fixed Navbar*/
.button-collapse {
  z-index: 1000; }

body:not(.side-nav) {
  padding-left: 300px; }
  body:not(.side-nav) .side-nav li a {
    color: white; }
  body:not(.side-nav) #slide-out {
    background-image: url("../../images/sidenav4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
    body:not(.side-nav) #slide-out .collapsible-body {
      background: none; }
    body:not(.side-nav) #slide-out .user-view img {
      width: 87.5px;
      height: 85px; }
  body:not(.side-nav) nav {
    left: 0px; }

@media only screen and (max-width: 992px) {
  body {
    margin-left: -300px; } }

/**Navbar**/
.logo {
  vertical-align: middle;
  width: 42px;
  height: 42px; }

nav {
  background: #3F4349; }

nav div ul li a {
  color: white; }

.top-nav-collapse {
  background-color: #243A51; }

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #243A51; } }

.shrink {
  height: 50px;
  opacity: .85;
  background: #41464C;
  transition: ease-in-out;
  -webkit-transition: 0.4s ease-in-out; }
  .shrink div ul li {
    transition: ease-in-out;
    -webkit-transition: 0.4s ease-in-out;
    margin-top: -6px; }

/**!Navbar**/
.gallery-image img {
  display: block;
  max-width: 100%;
  height: auto; }

iframe {
  display: none;
  position: fixed;
  right: 3vw;
  z-index: 1000;
  margin-top: 41vh;
  border: none; }

.mychatbot {
  position: fixed;
  background: none;
  width: 10vh;
  height: 10vh;
  right: 10px;
  z-index: 1000;
  margin-top: 85vh;
  cursor: pointer;
  border: none; }

footer div.flex-center a {
  margin: .4vw; }

header .img-fluid {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover; }

main .introVideo iframe {
  margin: 4vw; }

main .row {
  padding: 3.5vw; }
  main .row .card {
    margin: 3vw; }
    main .row .card .profImage {
      height: 16vw; }

main .events h2 {
  padding-top: .5vw; }

main ul {
  list-style-type: none;
  padding: 0; }

.research {
  padding: 6vh; }

.table-wrapper-2 {
  display: block;
  max-height: 35vh;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar; }

h1 {
  padding: 2.5vw 0 0 40vw; }

.publications {
  padding-top: 6vh; }

.table-wrapper-2 {
  display: block;
  max-height: 35vh;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar; }

h1 {
  padding: 2.5vw 0 0 40vw; }

.teaching {
  padding: 6vw; }
  .teaching img {
    width: 65px;
    height: 60px; }

.profile {
  padding: 20vh 30vh 0 30vh; }
  .profile .profileInfo {
    border: 0.75px solid #cecdcd; }
  .profile button {
    margin-left: 45%;
    margin-bottom: 50px; }
  .profile form .row:nth-child(1) {
    padding: 0 50px 50px 50px; }
  .profile form .file-field {
    padding: 50px; }

@media only screen and (max-width: 992px) {
  .profile {
    padding: 0; } }

.contact {
  padding: 7.5vh; }
